 /* CSS (Cascading Style Sheets): für styling des HTML, wie soll aussehen. zum Festlegen des Layouts von Webseiten. 

 Responsive Design stellt sicher, dass Webinhalte auf einer Vielzahl von Geräten und Bildschirmgrößen gut aussehen und funktionieren.


elements (p, a..) , 
Class for specifity, 
ID for more specifity, 
Selector list h1, h2 {…}
Descendent commonly used…).

Pseudo classes  are accessed by a single colon (:) (:active, :checked, a:hover, a:visited, :focus)
Pseudo elements : are accessed by a double colon (::)(p::selector, p::first-letter, ::before, ::after, nth-last-of-type(3), ::placeholder)


 */


 * {
     /* Universal selector */
     padding: 0;
     margin: o;
     box-sizing: border-box
 }

 body {
     font-family: "Laro", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.7;
     color: #777
 }

 .hero {
     /* selector / property : value */
     height: 100vh;
     background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(../example);
     background-size: cover;
     background-position: top;
 }

 .hero .btn #span {
     background-color: beige;
 }